body {
    background-color: #333333 !important;
}

.site-wrapper {
    max-width: 1600px;
    min-height: 100vh;
    margin: auto;
}

.navbar {
    padding: 0 !important;
}

.navbar-nav {
    text-align: center;
}

.navbar .container-fluid {
    padding: 0 10px 0 0;
}

#navbarText.show .top-menu {
    margin-bottom: 15px;
}

.logo-wrapper {
    background-color: #e21a1a;
    width: 105px;
    height: 100%;
    padding: 15px 20px !important;
    margin-right: 10px;
}

.logo-wrapper img {
    width: 100%;
    filter: brightness(0) saturate(100%) invert(1);
}

.text-logo {
    font-family: 'RussianRailGPro';
    font-weight:bold;
    color: #e21a1a;
    margin-right: 20px;
    font-size: 16px;
    min-width: 425px;
    margin-bottom: 0;
}

.top-menu {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    color: #000000a6;
    list-style-type: none;
    margin-bottom: 0;
    justify-content: center;
}

.top-menu a {
    text-decoration: none;
    color: #000000a6;
}

.top-menu li {
    margin-right: 15px;
}
.top-menu li:hover {
    color: #e21a1a;
    cursor: pointer;
}

.top-menu li img {
    width: 20px;
    height: 18px;
    opacity: 0.7;
}

section.image {
    background-image: url(../images/poezd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: -110px;
    background-size: 120%;
    background-position-y: 50%;
    min-height: 104px;
    height: 30vh;
    display: flex;
    align-items: center;
}

section.image h2 {
    font-family: 'RussianRailGPro';
    font-weight:bold;
    color: #fff;
}

section.image h2 span {
    background-color: #e21a1a;
    /*color: #e21a1a;*/
}

section.section_styles {
    background-color: #f3f3f3;
    padding: 20px 0;
}

section.section_styles h3 {
    font-family: 'RussianRailGPro';
    margin-bottom: 30px;
}

section.section_styles h6 {
    color: #e21a1a;
}

section.section_styles ul {
    list-style-type: disc;
    margin-bottom: 20px;
}

section.section_styles ul li::marker {
    color: #e21a1a;
}

#who_helps {
    background-color: #fff;
}

section .left-menu {
    /*padding: 0 20px;*/
}

section .left-menu .item {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
}

section .left-menu .item:last-child {
    border: none;
}

section table tr[parent_group] {
    cursor: pointer;
}

section table tr[group] {
    display: none;
}

section .left-menu div.selected {
    color: #e21a1a;
}

section .right-menu .item {
    font-size: 16px;
}

section .right-menu div {
    background-color: #fff;
    padding: 10px 20px;
    font-size: 18px;
}

.accordion .accordion-item {
    border: none !important;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    padding: 0;
}

.accordion .accordion-button {
    background-color: #fff !important;
    padding: 0;
    font-size: 18px;
}

.accordion .accordion-body {
    border: none;
}

.accordion .accordion-collapse {
    border: none;
}

details {
    font-size: 16px;
}

details summary {
    font-size: 16px;
}

details p {
    font-size: 14px;
    margin-left: 15px;
    color: #e21a1a;
}

details ul li {
    font-size: 14px;
}

footer {
    background-color: #464a53;
    color: #fff;
    padding: 20px 0;
}

footer p {
    margin-bottom: 5px;
}

.footer_important {
    font-size: 24px;
}

.table {
    font-size: 14px;
}

.table thead td {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.table td[colspan] {
    text-align: center;
    font-weight: bold;
}

section.questions {
    background-color: #e9ecef;
}

.questions .right-menu .item {
    display: none;
}

.questions .right-menu div[param] {
    display: none;
}

.questions .accordion-item {
    padding: 10px 0px;
}

.alert-primary {
    border-radius: 0px !important;
}

form button.btn-danger {
    background-color: #e21a1a;
    border-radius: 0;
    width: 100%;
}